*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    display: grid;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-font-smoothing: intialiased;
    place-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
  }

/* .container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%; 
    background-color: hsl(210, 46%, 95%);
    text-overflow: none;
} */

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(auto, 5fr)); */
    grid-auto-flow: column;
    gap: 1.5rem 2rem;
    max-width: 1440px;
}

.no_1{
    grid-column: 1 / 3;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.no_1>.user_comment>p{
    color: hsl(210, 46%, 95%);
}

.no_2{
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

.no_3{
    background-color: hsl(0, 0%, 100%);
}

.no_4{
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
    color: hsl(210, 46%, 95%);
}

.no_5{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    background-color: hsl(0, 0%, 100%);
}

.user_box {
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

.id_photo{
    border-radius: 100%;
    width: 35px;
}

.user_name{
    padding-left: 13px;
}

.user_com_brief{
    padding: 1rem 0%;
}

.ver_grad{
    font-size: 11px;
}

.user_com_brief>h2{
    font-weight: 500;
}

#pat, #dan{
    border: 2px solid hsl(263, 100%, 62%);
}




 @media (min-width: 576px){
    .container{
        margin: auto 160px;
    }
}

@media (max-width: 576px){
    .grid-box{
        grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));
        grid-auto-flow: column;
    }
}