*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
    width: 65rem;
    gap: 2rem 2rem;
    border: 2px solid rgb(114, 250, 123);
    align-items: center;
}

.no_1{
    grid-column: 1 / 3;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.no_1>.user_comment>p{
    color: hsl(210, 46%, 95%);
}

.no_2{
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

.no_3{
    background-color: hsl(0, 0%, 100%);
}

.no_4{
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
    color: hsl(210, 46%, 95%);
}

.no_5{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    background-color: hsl(0, 0%, 100%);
}

.user_box {
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
}

.id_photo{
    border-radius: 100%;
    width: 60%;
    align-items: center;
}

.user_com_brief{
    padding: 1rem 0%;
}
.ver_grad{
    font-size: 11px;
}

.user_com_brief>h2{
    font-weight: 500;
}



 /* @media (min-width: 600px){
    .container{
        margin: auto 160px;
    }
} */
@media (max-width: 600px){
    .container{
        margin: 16px;
    }
    .grid-box{
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: repeat(auto-fit);
    }
}